extends ./layout.pug

block content
  body.jumbotron
    h1 Coding Forum
    br
    br
    a.btn.btn-primary.btn-lg(href='/api/forum', role='button') // Start Sharing ...

//- block info

//- block content
